In [244]:
import pandas as pd
import os
# import boto3
from dotenv import load_dotenv
import io
import gradio as gr
from langchain_openai import ChatOpenAI
from langchain_community.chat_models import BedrockChat, ChatOllama
from langchain.agents import AgentExecutor, create_openai_tools_agent
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder, SystemMessagePromptTemplate, HumanMessagePromptTemplate
from langchain_core.messages import HumanMessage, AIMessage
from pprint import pprint
from contextlib import redirect_stdout

In [245]:
load_dotenv(override=True)

True

In [246]:
print(os.getenv("OPENAI_API_KEY"))
print(os.getcwd())

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
c:\data_scientist_ai_agent\data-scientist-ai-agent

In [247]:
# aws_access_key_id=os.getenv("AWS_ACCESS_KEY_ID")
# aws_secret_access_key=os.getenv("AWS_SECRET_ACCESS_KEY")
# aws_session_token=os.getenv("AWS_SESSION_TOKEN")

In [248]:
# llm = ChatBedrock(region_name="us-east-1", model_id="anthropic.claude-3-5-sonnet-20240620-v1:0", model_kwargs={"temperature": 0.0})
llm = ChatOpenAI(model="gpt-4o", temperature=0.0)
# llm = ChatOllama(model="llama3", temperature=0.0)

In [249]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [250]:
from langchain.agents import tool

Get Data Tool

In [251]:
@tool
def get_dataframe_info() -> str:
    """
    Returns a full summary of the DataFrame including column names, non-null counts, and data types.
    Use this first to get a general understanding of the dataset's structure.
    """
    global df
    buffer = io.StringIO()
    df.info(buf=buffer)
    return buffer.getvalue()

@tool
def get_dataframe_head(n: int = 5) -> str:
    """
    Returns the first n rows of the DataFrame as a string.
    Useful for inspecting the actual data values. 'n' defaults to 5.
    """
    global df
    return df.head(n).to_string()

@tool
def get_descriptive_stats() -> str:
    """
    Returns descriptive statistics for the numerical columns in the DataFrame, 
    including count, mean, std, min, max, and percentiles.
    """
    global df
    return df.describe().to_string()

@tool
def get_value_counts(column: str) -> str:
    """
    Returns the count of unique values for a specified column.
    Best used for categorical columns like 'Sex', 'Pclass', or 'Embarked'.
    """
    global df
    if column not in df.columns:
        return f"Error: Column '{column}' not found in the DataFrame."
    return df[column].value_counts().to_string()


@tool
def get_value_column_at_index(column_name: str, index: int) -> str:
    """
    Return column name value at this index in the DataFrame
    """
    global df
    if column_name not in df.columns:
        return f"Error: Column '{column_name}' not found in the DataFrame."
    else:
        if index >= len(df):
            return f"Error: index {index} if out of range"
        return df.iloc[index]

Edit Data Tool

In [252]:
@tool
def drop_columns(columns: list[str]) -> str:
    """
    Drops one or more specified columns from the DataFrame.
    The input should be a list of column name strings.
    """
    global df
    try:
        df.drop(columns=columns, axis=1, inplace=True)
        return f"Successfully dropped columns: {columns}. Use get_dataframe_info to see the new structure."
    except KeyError as e:
        return f"Error: One or more columns not found: {e}"
    except Exception as e:
        return f"An error occurred: {e}"

@tool
def add_column_from_expression(new_column_name: str, col1: str, operator: str, col2: str) -> str:
    """
    Creates a new column by performing a mathematical operation (+, -, *, /) on two existing columns.
    For example, to create a new column 'C' by adding 'A' and 'B', the arguments would be:
    new_column_name='C', col1='A', operator='+', col2='B'.
    """
    global df
    
    # --- Input Validation ---
    if new_column_name in df.columns:
        return f"Error: Column '{new_column_name}' already exists. Please choose a different name."
    if col1 not in df.columns:
        return f"Error: Column '{col1}' not found in the DataFrame."
    if col2 not in df.columns:
        return f"Error: Column '{col2}' not found in the DataFrame."
    
    valid_operators = ['+', '-', '*', '/']
    if operator not in valid_operators:
        return f"Error: Invalid operator '{operator}'. Please use one of {valid_operators}."

    # --- Operation Logic ---
    try:
        if operator == '+':
            df[new_column_name] = df[col1] + df[col2]
        elif operator == '-':
            df[new_column_name] = df[col1] - df[col2]
        elif operator == '*':
            df[new_column_name] = df[col1] * df[col2]
        elif operator == '/':
            # Add a small number to avoid division by zero
            df[new_column_name] = df[col1] / (df[col2] + 1e-6)
        
        return df

    except Exception as e:
        return f"An error occurred during the operation: {e}"
    
@tool
def update_value_based_on_condition(target_column: str, new_value: any, condition_column: str, condition_value: any) -> str:
    """
    Updates values in a 'target_column' to a 'new_value' wherever a condition is met in the 'condition_column'.
    This is equivalent to: df.loc[df['condition_column'] == condition_value, 'target_column'] = new_value
    Example: To change the 'Fare' to 0 for all 3rd class ('Pclass' is 3) passengers, you would use:
    target_column='Fare', new_value=0, condition_column='Pclass', condition_value=3
    """
    global df
    
    # --- Input Validation ---
    if target_column not in df.columns:
        return f"Error: The target column '{target_column}' was not found in the DataFrame."
    if condition_column not in df.columns:
        return f"Error: The condition column '{condition_column}' was not found in the DataFrame."
    
    try:
        # Check if the condition value exists in the condition column to prevent silent failures
        if condition_value not in df[condition_column].unique():
            print(f"Warning: The condition value '{condition_value}' does not exist in the column '{condition_column}'. No rows will be changed.")

        # --- Core Logic ---
        # Get the original data type of the target column
        original_dtype = df[target_column].dtype
        
        # Perform the update
        df.loc[df[condition_column] == condition_value, target_column] = new_value
        
        # Try to convert the column back to its original type if possible
        df[target_column] = df[target_column].astype(original_dtype)

        return df

    except Exception as e:
        return f"An error occurred while trying to update the column: {e}"

@tool
def split_column(column_name: str, delimiter: str, new_column_name: list) -> str:
    """ Splits a single text column into multiple new columns based on a specified delimiter.
    You must provide a list of names for the new columns. The number of new names should match the number of expected split parts.
    Example: To split the 'Name' column (e.g., "Braund, Mr. Owen Harris") into 'LastName' and 'FirstName', you would use:
    column_name='Name', delimiter=',', new_column_names=['LastName', 'FirstName'] """
    global df
    if column_name not in df.columns:
        return f"Error: Column '{column_name}' not found in the DataFrame."
    df[column_name] 

    if not pd.api.types.is_string_dtype(df[column_name]):
        return f"Error: Column '{column_name}' is not a text/string column. It cannot be split."

    for new_col in new_column_name:
        if new_col in df.columns:
            return f"Error: A column named '{new_col}' already exists. Please choose different names."

    try:

        split_data = df[column_name].str.split(delimiter, n=len(new_column_name)-1, expand=True)
        df[new_column_name] = split_data
        if split_data.shape[1] < len(new_column_name):
             return (f"Error: The split operation on '{column_name}' with delimiter '{delimiter}' "
                     f"produced fewer columns ({split_data.shape[1]}) than the number of new names provided ({len(new_column_name)}). "
                     "Some rows might not contain the delimiter.")

        # 6. Assign the new data to the new columns in the DataFrame
        df[new_column_name] = split_data
        
        return df
        
    except Exception as e:
        return f"An error occurred during the split operation: {e}"
    

@tool
def fill_missing_age_with_median() -> str:
    """
    Calculates the median of the 'Age' column and fills any missing values in that column with the median.
    This should only be used for the 'Age' column.
    """
    global df
    if 'Age' not in df.columns:
        return "Error: 'Age' column not found."
    
    median_age = df['Age'].median()
    df['Age'].fillna(median_age, inplace=True)
    return f"Successfully filled missing 'Age' values with the median value of {median_age}."

@tool
def create_new_column_by_suming_column(column_name: list, new_column_name: str) -> str:
    """
    Creates a new column by summing the values of multiple specified numerical columns for each row.
    Example: To create a 'FamilySize' column by adding 'SibSp' and 'Parch', you would use:
    column_names=['SibSp', 'Parch'], new_column_name='FamilySize'
    """
    global df
    if new_column_name in df.columns:
        return f"error column {new_column_name} have already exist"
    else:
        for column in column_name:
            if column not in df.columns:
                return f"Error The column {column} not found in the Dataframe"
            if not pd.api.types.is_numeric_dtype(df[column]):
                return f"Error: The column '{column}' is not a numerical column and cannot be summed."
    try:
        df[new_column_name] = df[column_name].sum(axis=1)
        return df
    except Exception as e:
        return f"An unexpected error occurred: {e}"

c:\data_scientist_ai_agent\.venv\Lib\site-packages\pydantic\_internal\_generate_schema.py:628: UserWarning: <built-in function any> is not a Python type (it may be an instance of an object), Pydantic will allow any object with no validation since we cannot even enforce that the input is an instance of the given type. To get rid of this error wrap the type with `pydantic.SkipValidation`.
  warn(
c:\data_scientist_ai_agent\.venv\Lib\site-packages\pydantic\_internal\_generate_schema.py:628: UserWarning: <built-in function any> is not a Python type (it may be an instance of an object), Pydantic will allow any object with no validation since we cannot even enforce that the input is an instance of the given type. To get rid of this error wrap the type with `pydantic.SkipValidation`.
  warn(

Data Visialization Tools

In [253]:
@tool
def plot_correlation_heatmap(filename: str) -> str:
    """
    Generates and saves a heatmap of the correlation matrix for all numerical columns in the DataFrame.
    This helps to quickly see which variables are correlated.
    Example: To generate the heatmap, use filename='correlation_heatmap.png'
    """
    # ... (โค้ดคำนวณ correlation matrix และวาด heatmap) ...
    return f"Correlation heatmap saved to {filename}"

In [254]:
tools = [
    get_dataframe_info,
    get_dataframe_head,
    get_descriptive_stats,
    get_value_counts,
    drop_columns,
    fill_missing_age_with_median,
    create_new_column_by_suming_column,
    add_column_from_expression,
    update_value_based_on_condition,
    split_column,
    plot_correlation_heatmap,
    get_value_column_at_index
]

In [255]:
system_prompt = """
You are an expert Data Scientist assistant. Your goal is to help the user with Exploratory Data Analysis (EDA) and Feature Engineering.

You have access to a set of tools to inspect and manipulate a pandas DataFrame.

**Thinking Process:**
1.  **Understand the Goal:** Analyze the user's request.
2.  **Inspect:** ALWAYS use your inspection tools (`get_dataframe_info`, `get_dataframe_head`, etc.) to understand the current state of the DataFrame before taking any action. Do not assume the state.
3.  **Plan:** Decide which tool is appropriate for the user's request.
4.  **Act:** Execute the chosen tool.
5.  **Observe & Respond:** Analyze the output from the tool and provide a clear, helpful summary to the user.
"""

prompt = ChatPromptTemplate.from_messages(
    [
        ("system", system_prompt),
        MessagesPlaceholder(variable_name="chat_history"),
        ("user", "{input}"),
        MessagesPlaceholder(variable_name="agent_scratchpad"),
    ]
)

In [256]:
prompt

ChatPromptTemplate(input_variables=['agent_scratchpad', 'chat_history', 'input'], input_types={'chat_history': list[typing.Annotated[typing.Union[typing.Annotated[langchain_core.messages.ai.AIMessage, Tag(tag='ai')], typing.Annotated[langchain_core.messages.human.HumanMessage, Tag(tag='human')], typing.Annotated[langchain_core.messages.chat.ChatMessage, Tag(tag='chat')], typing.Annotated[langchain_core.messages.system.SystemMessage, Tag(tag='system')], typing.Annotated[langchain_core.messages.function.FunctionMessage, Tag(tag='function')], typing.Annotated[langchain_core.messages.tool.ToolMessage, Tag(tag='tool')], typing.Annotated[langchain_core.messages.ai.AIMessageChunk, Tag(tag='AIMessageChunk')], typing.Annotated[langchain_core.messages.human.HumanMessageChunk, Tag(tag='HumanMessageChunk')], typing.Annotated[langchain_core.messages.chat.ChatMessageChunk, Tag(tag='ChatMessageChunk')], typing.Annotated[langchain_core.messages.system.SystemMessageChunk, Tag(tag='SystemMessageChunk')], typing.Annotated[langchain_core.messages.function.FunctionMessageChunk, Tag(tag='FunctionMessageChunk')], typing.Annotated[langchain_core.messages.tool.ToolMessageChunk, Tag(tag='ToolMessageChunk')]], FieldInfo(annotation=NoneType, required=True, discriminator=Discriminator(discriminator=<function _get_type at 0x00000159EF8A2AC0>, custom_error_type=None, custom_error_message=None, custom_error_context=None))]], 'agent_scratchpad': list[typing.Annotated[typing.Union[typing.Annotated[langchain_core.messages.ai.AIMessage, Tag(tag='ai')], typing.Annotated[langchain_core.messages.human.HumanMessage, Tag(tag='human')], typing.Annotated[langchain_core.messages.chat.ChatMessage, Tag(tag='chat')], typing.Annotated[langchain_core.messages.system.SystemMessage, Tag(tag='system')], typing.Annotated[langchain_core.messages.function.FunctionMessage, Tag(tag='function')], typing.Annotated[langchain_core.messages.tool.ToolMessage, Tag(tag='tool')], typing.Annotated[langchain_core.messages.ai.AIMessageChunk, Tag(tag='AIMessageChunk')], typing.Annotated[langchain_core.messages.human.HumanMessageChunk, Tag(tag='HumanMessageChunk')], typing.Annotated[langchain_core.messages.chat.ChatMessageChunk, Tag(tag='ChatMessageChunk')], typing.Annotated[langchain_core.messages.system.SystemMessageChunk, Tag(tag='SystemMessageChunk')], typing.Annotated[langchain_core.messages.function.FunctionMessageChunk, Tag(tag='FunctionMessageChunk')], typing.Annotated[langchain_core.messages.tool.ToolMessageChunk, Tag(tag='ToolMessageChunk')]], FieldInfo(annotation=NoneType, required=True, discriminator=Discriminator(discriminator=<function _get_type at 0x00000159EF8A2AC0>, custom_error_type=None, custom_error_message=None, custom_error_context=None))]]}, partial_variables={}, messages=[SystemMessagePromptTemplate(prompt=PromptTemplate(input_variables=[], input_types={}, partial_variables={}, template="\nYou are an expert Data Scientist assistant. Your goal is to help the user with Exploratory Data Analysis (EDA) and Feature Engineering.\n\nYou have access to a set of tools to inspect and manipulate a pandas DataFrame.\n\n**Thinking Process:**\n1.  **Understand the Goal:** Analyze the user's request.\n2.  **Inspect:** ALWAYS use your inspection tools (`get_dataframe_info`, `get_dataframe_head`, etc.) to understand the current state of the DataFrame before taking any action. Do not assume the state.\n3.  **Plan:** Decide which tool is appropriate for the user's request.\n4.  **Act:** Execute the chosen tool.\n5.  **Observe & Respond:** Analyze the output from the tool and provide a clear, helpful summary to the user.\n"), additional_kwargs={}), MessagesPlaceholder(variable_name='chat_history'), HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['input'], input_types={}, partial_variables={}, template='{input}'), additional_kwargs={}), MessagesPlaceholder(variable_name='agent_scratchpad')])

In [257]:
agent =  create_openai_tools_agent(llm, tools, prompt)
agent_executor = AgentExecutor(agent=agent, tools=tools, verbose=True)

c:\data_scientist_ai_agent\.venv\Lib\site-packages\pydantic\_internal\_generate_schema.py:628: UserWarning: <built-in function any> is not a Python type (it may be an instance of an object), Pydantic will allow any object with no validation since we cannot even enforce that the input is an instance of the given type. To get rid of this error wrap the type with `pydantic.SkipValidation`.
  warn(

In [258]:
def chat(message, history):
  chat_history = []
  for human, assistant in history:
    chat_history.append(HumanMessage(content=human))
    chat_history.append(AIMessage(content=assistant))

  response = agent_executor.invoke({
    "input":message,
    "chat_history":chat_history
  })
  return response["output"]

In [259]:
gr.ChatInterface(chat).launch()

c:\data_scientist_ai_agent\.venv\Lib\site-packages\gradio\chat_interface.py:345: UserWarning: The 'tuples' format for chatbot messages is deprecated and will be removed in a future version of Gradio. Please set type='messages' instead, which uses openai-style 'role' and 'content' keys.
  self.chatbot = Chatbot(

* Running on local URL:  http://127.0.0.1:7880
* To create a public link, set `share=True` in `launch()`.

In [260]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [261]:
def initialize_bedrock_client(
    aws_access_key_id, aws_secret_access_key, aws_session_token
):
    return boto3.client(
        "bedrock-runtime",
        aws_access_key_id=aws_access_key_id,
        aws_secret_access_key=aws_secret_access_key,
        aws_session_token=aws_session_token,
        region_name=REGION_NAME,
        # config=custom_config,
    )
 
REGION_NAME = "us-east-1"
MODEL_ID = "anthropic.claude-3-5-sonnet-20240620-v1:0"
 
# Setting AWS key
# AWS_ACCESS_KEY_ID = ""
# AWS_SECRET_ACCESS_KEY = ""
# AWS_SESSION_TOKEN = ""
 
# custom_config = Config(
#     read_timeout=400,
#     connect_timeout=400,
#     retries={"max_attempts": 3},
# )
bedrock_runtime = initialize_bedrock_client(
        aws_access_key_id, aws_secret_access_key, aws_session_token
    )
llm = BedrockChat(model_id=MODEL_ID, client=bedrock_runtime)
 
system_template = """You are a female who is specialized in financial analysis and credit analysis for auto loans. Your task is to analyze financial data and provide insights."""
system_message_prompt = SystemMessagePromptTemplate.from_template(system_template)
human_template_company_fin = """Analyze the following data {company_profile}."""
 
human_message_prompt_company_fin = HumanMessagePromptTemplate.from_template(
        human_template_company_fin
    )
chat_prompt_comp_info = ChatPromptTemplate.from_messages(
        [system_message_prompt, human_message_prompt_company_fin]
    )
messages_comp_info = chat_prompt_comp_info.format_prompt(
        company_profile="The company is a leading auto loan provider with a diverse portfolio of customers. The company has been in operation for over 10 years and has a strong market presence. The company offers competitive interest rates and flexible repayment options to its customers. The company has a robust risk management framework in place to mitigate potential losses."
    ).to_messages()
 
response = llm.invoke(
        messages_comp_info, temperature=0.0, max_tokens=4096, top_p=0.9999
    )
response.content

NameError: name 'aws_access_key_id' is not defined

> Entering new AgentExecutor chain...

Invoking: `get_value_column_at_index` with `{'column_name': 'Name', 'index': 600}`


PassengerId                                                  601
Survived                                                       1
Pclass                                                         2
Name           Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...
Sex                                                       female
Age                                                         24.0
SibSp                                                          2
Parch                                                          1
Ticket                                                    243847
Fare                                                        27.0
Cabin                                                        NaN
Embarked                                                       S
Name: 600, dtype: objectThe value of the 'Name' column at index 600 is "Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)".

> Finished chain.


> Entering new AgentExecutor chain...

Invoking: `get_value_column_at_index` with `{'column_name': 'Name', 'index': 900}`


Error: index 900 if out of rangeIt seems that index 900 is out of range for the current DataFrame. The DataFrame likely has fewer than 901 rows. If you need further assistance, please let me know!

> Finished chain.


> Entering new AgentExecutor chain...

Invoking: `get_value_column_at_index` with `{'column_name': 'Name', 'index': 705}`


PassengerId                                               706
Survived                                                    0
Pclass                                                      2
Name           Morley, Mr. Henry Samuel ("Mr Henry Marshall")
Sex                                                      male
Age                                                      39.0
SibSp                                                       0
Parch                                                       0
Ticket                                                 250655
Fare                                                     26.0
Cabin                                                     NaN
Embarked                                                    S
Name: 705, dtype: objectThe value of the 'Name' column at index 705 is "Morley, Mr. Henry Samuel (\"Mr Henry Marshall\")".

> Finished chain.